.taskHeaderContainer {
  margin: 0 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitles {
  width: fit-content;
}
.orderAndFilterContainer {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.7);
  gap: 0.5rem;
  cursor: pointer;
}
.orderAndFilterContainer > * {
  height: 20px;
  display: flex;
  align-items: center;
}

.orderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* estándar */
}

.orderContainer > svg {
  padding-bottom: 1.5px;
  transition: transform 0.5s ease-in-out;
}
.desc > svg {
  transform: rotate(180deg);
}
