.timeContainer {
  position: absolute;
  top: 10px;
  left: 0px;
  border: 1px dotted transparent;
  text-align: center;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}

.time {
  font-weight: 600;
  font-size: 20px;
  color: rgb(255, 2552, 255, 0.9);
}

.date {
  font-size: 12px;
  color: rgb(255, 2552, 255, 0.8);
}
