:root {
  --min-height-header: 110px;
  --width-sidebar: 200px;
  --width-sidebar-collapsed: 80px;
  --padding-sidebar: 1rem;
}
.sidebar {
  position: relative;
  display: grid;
  grid-template-rows: max(100px) auto 1fr auto auto;
  width: var(--width-sidebar);
  max-width: var(--width-sidebar);
  background-color: var(--clr-blue-dark);
  transition: width 0.4s ease;

  & > div,
  & > .divider {
    box-sizing: border-box;
    max-width: var(--width-sidebar);
    width: var(--width-sidebar);
    transition: width 0.4s ease, padding 0.4s ease;
  }

  & > div {
    min-width: var(--width-sidebar-collapsed);
    max-width: var(--width-sidebar);
    padding-inline: var(--padding-sidebar);
  }

  & > div:not(:nth-child(2)) {
    color: var(--clr-sidebar);
  }

  & .divider {
    height: 2px;
    background-color: var(--clr-violet);
    border: none;
    border-radius: 9999px;
    margin: 0.5rem auto;
    width: calc(100% - 3.5em);
  }

  &.collapsed {
    width: var(--width-sidebar-collapsed);

    & > div {
      width: var(--width-sidebar-collapsed);
    }
    & > div:nth-child(2) {
      padding: 0 0.25rem;
      transition: width 0.4s ease, padding 0.4s ease;
    }
  }
}
