.container {
  align-self: start;
  border: 1px solid rgba(222, 184, 135, 0.9);

  padding: 1rem;
  border-radius: 12px;
  position: relative;
}
.default {
  border: 1px solid rgb(65, 65, 65);
}

.title {
  color: white;
  font-weight: 700;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.openWidget svg {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: hsl(0, 70%, 50%);
  cursor: pointer;
  transition: scale 0.3s;
}
.openWidget svg:active {
  transform: scale(0.9);
}
