.messageFormContainer {
  justify-self: center;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  grid-area: message;

  margin: 0.875rem auto 0 auto;
}

.paragraphMessageForm {
  font-weight: 600;
}

.errorMessageContainer {
  background-color: rgba(255, 0, 0, 0.3);
}
.submitMessageContainer {
  background-color: rgba(0, 255, 0, 0.3);
}
