.container {
  width: 100%;
  min-height: fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 0.35rem;
  flex-grow: 1;
  border-radius: 6px;
}

.container h3 {
  margin-top: 0;
}

.subtitles {
  color: rgba(255, 255, 255, 0.8);
  width: fit-content;
}

.messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: transparent;
}

.message {
  color: rgba(222, 184, 135, 0.8);
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.selectStyles {
  background: rgb(25, 25, 25);
  max-width: fit-content;
  color: rgba(255, 255, 255, 0.7);
}
