.taskContainer {
  max-width: 900px;
}

.headerTaskList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.searchInput {
  background-color: transparent;
  color: white;
  font-style: italic;
  border: none;
  border: 1px solid var(--clr-violet-light);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  max-width: 150px;
}

.tasksList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: transparent;
}

.message {
  color: rgba(222, 184, 135, 0.8);
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.selectStyles {
  background-color: var(--clr-black-ligth);
  max-width: fit-content;
  color: rgba(255, 255, 255, 0.7);
}
