.taskContainer {
  max-width: 900px;
}

.headerTaskList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 0.75rem 0.3rem 0;
  width: fit-content;
  border-bottom: 3px solid rgba(222, 184, 135, 0.9);
}

.searchInput {
  background-color: transparent;
  color: white;
  font-style: italic;
  border: none;
  border: 1px solid rgba(222, 184, 135, 0.4);
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin-right: 5px;
}

.tasksList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: transparent;
}

.message {
  color: rgba(222, 184, 135, 0.8);
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.taskHeaderContainer {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.orderAndFilterContainer {
  display: flex;
  font-size: 0.875rem;
  font-style: italic;
  color: rgba(255, 255, 255, 0.7);
  gap: 0.75rem;
  cursor: pointer;
}

.orderAndFilterContainer > div {
  display: flex;
}

.selectStyles {
  min-width: 12.5ch;
  background-color: transparent;
  border-color: transparent;
}

.selectTextStyles {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;
  font-style: italic;
}
.selectArrowStyles::after {
  background-color: rgba(255, 255, 255, 0.7);
}

.orderContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* estándar */
}
.orderContainer > svg {
  transition: transform 0.5s ease-in-out;
}
.desc > svg {
  transform: rotate(180deg);
}

.subtitles {
  color: rgba(255, 255, 255, 0.8);
  width: fit-content;
}
