:root {
  --width-icon-header: 18px;
}
.header {
  display: flex;
  align-items: center;
  color: var(--clr-sidebar-header);

  & > * {
    line-height: 1;
  }
  & svg {
    margin-inline: calc(var(--width-icon-header) / 2);
  }
  & p {
    margin-top: 0;
  }

  & .appName {
    display: inline-block;
    position: absolute;
    left: calc(var(--width-icon) + var(--gap) + var(--paddin-inline));
    width: fit-content;
    transform: translateX(0);
    transition:
      opacity 0.2s ease,
      visibility 0.2s ease,
      transform 0.4s ease;

    white-space: nowrap;
    overflow: hidden;
  }

  &.collapsed {
    padding: 0;
    width: 0;
    transition: width 0.3s ease-in-out;
  }
  &.collapsed .appName {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
  }
}
