.header {
  border: 1px dotted red;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "location location"
    "time weather";
  padding-inline: 0.5em;
  transition: grid-template-columns 0.5s, grid-template-rows 0.5s, grid-template-areas 0.5s;
  color: var(--clr-sidebar-header);
}
.collapsed {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "location"
    "time"
    "weather";
}

.locationSection {
  border: 1px dotted pink;
  grid-area: location;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.timeSection {
  border: 1px dotted green;
  grid-area: time;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weatherSection {
  border: 1px dotted yellow;
  grid-area: weather;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
