.link {
  height: 45px;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1;
  padding: 0.5em;
  margin-inline: 1em;
  border-radius: 8px;
}
.link:hover {
  color: white;
}

.text {
  margin-top: 1px;
  margin-left: 0.5rem;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;
  position: absolute;
  left: 55px;
}
.text.collapsed {
  opacity: 0;
}

.link.active {
  background-color: var(--clr-violet);
  color: white;
}
