:root {
  --paddin-inline: 1rem;
  --gap: 10px;
  --width-icon: 24px;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--gap);
  box-sizing: border-box;
  padding: 0.5rem 0;
  border-radius: 8px;
  font-size: 18px;
  line-height: 1;
}
.link svg {
  margin-inline: calc(var(--width-icon) / 2);
}

.link .text {
  display: inline-block;
  position: absolute;
  left: calc(var(--width-icon) + var(--gap) + var(--paddin-inline));
  width: fit-content;
  transform: translateX(0);
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.4s ease;

  white-space: nowrap;
  overflow: hidden;
}
.link.collapsed .text {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px);
}

.link.active {
  background-color: var(--clr-violet);
  color: var(--clr-white);
}
.link:hover {
  color: var(--clr-white);
}
