:root {
  --moon-fix-size: 19.5px;
  --sun-fix-size: 19.5px;
}

.sunMoonContainer {
  --height: 60px;
  --width: 60px;
  border: 1px solid transparent;
  /* border: 1px solid red; */
  border-radius: 50%;
  width: var(--width);
  height: var(--height);
  position: absolute;
  bottom: calc((var(--height) / 2) * -1);
  left: calc(50% - var(--width) / 2);

  transition: rotate 0.5s ease-in-out;
}

.moonContainer,
.sunContainer {
  background-color: var(--clr-blue-dark);
  position: absolute;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moonContainer {
  /* border: 1px dotted purple; */
  bottom: calc(100% - var(--moon-fix-size));
  left: calc(50% - var(--moon-fix-size));
}
.sunContainer {
  /* border: 1px dotted orangered; */
  top: calc(100% - var(--sun-fix-size));
  left: calc(50% - var(--sun-fix-size));
}

.moon {
  width: 40px;
  height: 40px;
}
.sun {
  width: 50px;
  height: 50px;
}
