.date {
  & > .dateText {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: capitalize;
  }
  &.collapsed > .dateText {
    font-size: 0.625rem;
    text-transform: uppercase;
  }
}
