.location {
  font-size: 0.625rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1;
  overflow: hidden;

  & > span {
    display: inline-block;
    position: absolute;
    width: fit-content;
    left: inherit;
    transform: translateX(0);
    transition:
      opacity 0.2s ease,
      visibility 0.2s ease,
      transform 0.2s ease,
      left 0.2s ease;

    white-space: nowrap;
    overflow: hidden;
  }
}
.location.collapsed {
  max-width: 32px;
  font-size: 0.5rem;
  & > span {
    left: calc(inherit - 20px);
    transform: translateX(-50px);
    opacity: 0;
    visibility: hidden;
    cursor: none;
    pointer-events: none;
  }
}
