.timeContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & .hours,
  & .minutes,
  & .seconds {
    text-align: center;
    font-family: var(--font-clock);
    transition: font-size 0.4s ease, min-width 0.3s ease, width 0.3s ease, margin-top 0.3s ease;
  }

  & .hours,
  & .minutes {
    min-width: 50px;
    font-size: 1.8rem;
  }
  & .hours::after {
    content: ":";
    margin-left: 2px;
  }
  & .minutes::after {
    content: ".";
    margin-left: 1.5px;
  }

  & .seconds {
    width: 27px;
    font-size: 1rem;
    margin-top: 0.6rem;
  }

  &.collapsed {
    & .hours,
    & .minutes {
      min-width: 23.5px;
      font-size: 0.875rem;
    }
    & .seconds {
      width: 15px;
      font-size: 0.5rem;
      margin-top: 5px;
    }
  }
}
