.toggleButton {
  position: absolute;
  top: 2px;
  left: calc(100% - 19px);
  rotate: 180deg;

  width: 20px;
  max-width: 20px;
  height: 20px;
  padding: 0px;
  border-radius: 2px;

  border: 0 solid transparent;
  color: var(--clr-sidebar);

  transition:
    left 0.5s ease,
    transform 0.5s ease,
    width 0.2s ease,
    color 0.2s ease;

  &:hover {
    color: hsl(260 90% 85%);
    scale: 0.95;
  }

  & svg {
    margin: none;
  }

  & span {
    margin: auto;
  }
}
