.settingsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}
.container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(42, 42, 42);
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.container > button {
  background-color: rgb(25, 25, 25);
}

/* User */
.formLayout {
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.input,
.select {
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 2.5rem;
  border-radius: 6px;
  border: 1px solid transparent;
  background-color: rgba(42, 42, 42, 0.5);
  padding-inline: 1rem;
  font-size: 1.2rem;
}

.select option {
  font-size: 1rem;
}

.btn {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Google */
.googleIcon {
  width: 1.5rem;
  height: 1.5rem;
}

/* Reset */
