.settingsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}
.container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-blue-dark);
  border: 1px solid var(--clr-border-white);
  padding: 1.3rem 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.container > button {
  /* background-color: var(--clr-violet-light); */
  background-color: transparent;
  border: 1px solid var(--clr-border);
}

/* User */
.container > form {
  background-color: transparent;
}
.formLayout {
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.input,
.selectStyles {
  border: 1px solid var(--clr-border);
  width: 100%;
  height: 2.5rem;
  border-radius: 6px;
  border: 1px solid transparent;
  background-color: rgba(42, 42, 42, 0.5);
  padding-inline: 1rem;
  font-size: 1.2rem;
}
.selectStyles {
  max-width: 100%;
}
.selectStyles:focus,
.selectStyles option:focus {
  border: 1px solid var(--clr-violet-light) !important;
}

.selectStyles option {
  font-size: 1rem;
}

/* Google */
.googleIcon {
  width: 1.5rem;
  height: 1.5rem;
}
.desciptionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.125rem;
}

/* Widgets */
.widgetsContainer {
  display: flex;
  gap: 2rem;
}
.widgetBox {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  border: 1px solid var(--clr-border);
  border-radius: 8px;
}
.widgetBox > p {
  font-size: 1.125rem;
  font-weight: 600;
}
.widgetsBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.widgetsBtns > button {
  background-color: #21262d;
  border-color: #30363d;
  color: #f85149;
  min-width: 100%;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}
.widgetsBtns > button:hover {
  background-color: #f85149;
  border-color: #f85149;
  color: rgba(255, 255, 255, 0.9);
}

/* Reset */
