.container {
  display: flex;
}

.containerOptions {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
.addButton {
  display: block;
  position: relative;
  width: 150px;
  height: 300px;
  margin: auto;
  transition: transform 0.3s;
  cursor: pointer;
}
.addButton:hover {
  transform: scale(1.1);
}

.addButton svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Options */
.widgetOptionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
}

.widgetOptionName {
  font-weight: 700;
}

.widgetOptionAddBtn {
  width: fit-content;
  height: auto;

  font-size: 14px;
  text-transform: uppercase;
}

.closeOptions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 35px;
  color: hsl(0, 70%, 50%);
  cursor: pointer;
  transition: scale 0.3s;
}
.closeOptions:active {
  transform: scale(0.9);
}

.hiddenIcon {
  display: none;
}

.box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: fit-content;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
  margin: 16px 0;
}

.box:first-child {
  margin-top: 0;
}
.box:last-child {
  margin-bottom: 0;
}
