:root {
  --min-height-header: 110px;
  --height-gradient: 20px;
}
.sidebar {
  background-color: var(--clr-blue-dark);
  width: 230px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 50;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
}

.header {
  width: 90%;
  min-height: var(--min-height-header);
  height: auto;
  position: relative;
  border-bottom: 1px solid var(--clr-violet);
  /* overflow: hidden; */
}

.linksContainer {
  height: 100%;
  background-color: var(--clr-blue-dark);
  display: flex;
  flex-direction: column;
  align-items: start;
  /* padding: 1rem 0; */
  margin: var(--height-gradient) 0;
  font-size: 18px;
  z-index: 1;
}
.linkContainer {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.linkContainer a {
  display: flex;
  align-items: center;
  text-align: start;
  width: 100%;
  font-size: 24px;
  line-height: 1;
  padding-inline: 1.5rem;
}
.linkContainer a:hover {
  color: white;
}
.linkContainer a svg {
  margin-right: 0.5rem;
}

.linkContainer:last-child {
  margin-top: auto;
}
.widgetSettings {
  order: 2;
}

.active {
  background-color: var(--clr-violet);
  color: white;
}

.gradient {
  position: absolute;
  top: var(--min-height-header);
  height: var(--height-gradient);
  /* border: 1px dotted brown; */
  width: 180px;
  margin: 0 auto;
  background: var(--clr-blue-dark);
  background: linear-gradient(
    180deg,
    rgba(28, 33, 41, 0) 0%,
    rgba(28, 33, 41, 1) 20%
  );
  z-index: 999;
}
