nav {
  background-color: rgb(20, 20, 20);
}
.sidebar {
  width: 14rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 50;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1.25rem 0;
  font-size: 18px;
}
.linkContainer {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 1.5rem;
}
.linkContainer a {
  font-size: 24px;
  line-height: 1;
}
.linkContainer a:hover {
  color: white;
}

.widgetSettings {
  order: 2;
}

.active {
  background-color: var(--clr-primary-light);
  color: white;
}
