:root {
  --min-height-header: 110px;
  --height-gradient: 10px;
  --clr-main-sidebar: rgba(255, 255, 255, 0.6);
}
.sidebar {
  background-color: var(--clr-blue-dark);
  width: 100%;
  max-width: 200px;
  height: 100vh;
  transition: width 0.35s ease-in-out;
  display: grid;
  grid-template-rows: max(125px) auto 1fr auto auto;
  align-items: center;
  color: var(--clr-main-sidebar);
  position: relative;
}
.sidebar.collapsed {
  width: 80px;
}

.sidebar > div {
  width: 100%;
  max-width: 230px;
  height: 100%;
}

.sidebar .divider {
  height: 2px;
  background-color: var(--clr-violet);
  border: none;
  border-radius: 9999px;
  margin: 0 auto;
  width: calc(100% - 3.5em);
}
.sidebar .divider {
  margin-bottom: 1rem;
}

.gradient {
  position: absolute;
  top: var(--min-height-header);
  height: var(--height-gradient);
  /* border: 1px dotted brown; */
  width: 180px;
  margin: 0 auto;
  background: var(--clr-blue-dark);
  background: linear-gradient(180deg, rgba(28, 33, 41, 0) 0%, rgba(28, 33, 41, 1) 20%);
  z-index: 999;
}
