:root {
  --min-height-header: 110px;
  --width-sidebar: 200px;
  --width-sidebar-collapsed: 50px;
  --padding-sidebar: 1rem;
}
.sidebar {
  display: grid;
  grid-template-rows: 24px 50px auto 1fr auto 50px;
  gap: 1rem;

  width: var(--width-sidebar);
  max-width: var(--width-sidebar);
  background-color: var(--clr-blue-dark);
  transition: width 0.4s ease;

  & > div,
  & > .divider {
    width: var(--width-sidebar);
    box-sizing: border-box;
    max-width: 100%;
    transition:
      width 0.4s ease,
      padding 0.4s ease;
  }

  & > div {
    min-width: var(--width-sidebar-collapsed);
  }

  & > div:not(:nth-child(2)) {
    color: var(--clr-sidebar);
  }

  & .divider {
    width: var(--width-sidebar);
    height: 2px;
    margin: 0px;
    background-color: var(--clr-violet);
    border: none;
    border-radius: 9999px;
  }

  &.collapsed {
    width: var(--width-sidebar-collapsed);

    & > div,
    & > .divider {
      width: var(--width-sidebar-collapsed);
    }

    & > div:nth-child(2) {
      padding: 0 0.25rem;
    }
  }
}
