:root {
  --min-height-header: 110px;
  --width-sidebar: 200px;
  --width-sidebar-collapsed: 80px;
  --padding-sidebar: 0.85rem;
}
.sidebar {
  background-color: var(--clr-blue-dark);
  width: var(--width-sidebar);
  max-width: var(--width-sidebar);
  display: grid;
  grid-template-rows: max(100px) auto 1fr auto auto;
  position: relative;

  transition: width 0.4s ease;
}
.sidebar.collapsed {
  width: var(--width-sidebar-collapsed);
}
.sidebar > div {
  width: 100%;
  box-sizing: border-box;
}

.sidebar > div:not(:nth-child(2)) {
  padding-inline: var(--padding-sidebar);
  color: var(--clr-sidebar);
}

.sidebar .divider {
  height: 2px;
  background-color: var(--clr-violet);
  border: none;
  border-radius: 9999px;
  margin: 0.5rem auto;
  width: calc(100% - 3.5em);
}
