.toggleButton {
  position: absolute;
  top: 5px;
  right: -12px;
  width: 24px;
  max-width: 24px;
  height: 24px;
  padding: 0px;
  margin: 0;
  border-radius: 9999px;
  background-color: var(--clr-blue);
  outline: 1px solid var(--clr-blue);
  border-width: 1px;
  border-color: var(--clr-blue);
  transition: border-color 0.3s ease-out;
}
.toggleButton:hover {
  border-color: var(--clr-violet-light);
}
.toggleButton svg {
  margin-top: 1px;
  margin-right: 2px;
}
.collapsed {
  background-color: var(--clr-blue-dark);
}
.collapsed svg {
  margin-right: 0px;
}
