.date {
  & > .dateText {
    margin-left: 0px;
    width: fit-content;
    font-size: 0.5rem;
    font-weight: 300;
    font-style: italic;
    transition: margin 0.3s ease-in-out;
  }
  &.collapsed > .dateText {
    margin-left: 1.5px;
    transition: margin 0.3s ease-in-out;
  }
}
