.location {
  text-align: left;
  font-size: 0.6rem;
  font-weight: 500;
  font-style: italic;
  white-space: nowrap;
  width: fit-content;
  position: relative;
}

.location > span {
  display: inline-block;
  transition: opacity 0.3s ease-in-out;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  pointer-events: none;
  opacity: 0;
  animation: moveLeft 0s linear 0.31s forwards;
  position: absolute;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    /* transform: translateX(-100%); */
  }
}
