.location {
  text-align: left;
  font-size: 0.4rem;
  font-weight: 500;
  font-style: italic;
  white-space: nowrap;
  width: fit-content;
}

.location > span {
  position: absolute;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}
.location.collapsed > span {
  opacity: 0;
  visibility: hidden;
}
