#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  grid-template-columns: minmax(70px, 200px) 100%; /* Sidebar entre 70px y 200px */
  grid-template-rows: 1fr;
  background-color: var(--clr-blue);
  color: rgba(255, 255, 255, 0.8);
}

nav {
  grid-column: 1;
  padding-block: 1rem;
}
main {
  grid-column: 2;
  padding: 1.25rem;
}
