:root {
  --box-size: 45px;
  --moon-size: 40px;
  --sun-size: 50px;
}

.sunMoonContainer {
  --height: 60px;
  --width: 60px;
  /* La propiedad CSS `border: 1px solid transparent;` establece un borde alrededor de un elemento con
  las siguientes características:
  - El borde tiene un ancho de 1 píxel (`1px`).
  - El estilo del borde es sólido, creando una línea sólida ("sólido").
  - El color del borde es transparente, lo que hace que el borde sea invisible ("transparente"). */
  border: 1px solid transparent;
  border-radius: 50%;
  width: var(--width);
  height: var(--height);
  position: absolute;
  bottom: calc((var(--height) / 2) * -1);
  left: calc(50% - var(--width) / 2);
  transition: rotate 0.5s ease-in-out;
}
.border {
  border: 1px solid transparent;
  border-top-color: var(--clr-border);
  border-left-color: var(--clr-border);
  border-right-color: var(--clr-detail);
  border-bottom-color: var(--clr-detail);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 45deg;
}

.moonContainer,
.sunContainer {
  background-color: var(--clr-blue-dark);
  position: absolute;
  border-radius: 50%;
  width: var(--box-size);
  height: var(--box-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.moonContainer {
  /*border: 1px dotted purple; */
  bottom: calc(100% - (var(--box-size) / 2));
  left: calc(50% - (var(--box-size) / 2));
}
.sunContainer {
  /* border: 1px dotted orangered; */
  top: calc(100% - (var(--box-size) / 2));
  left: calc(50% - (var(--box-size) / 2));
}

.moon {
  width: var(--moon-size);
  height: var(--moon-size);
}
.sun {
  width: var(--sun-size);
  height: var(--sun-size);
}
