nav {
  background-color: rgb(20, 20, 20);
}
.navbar {
  height: 4rem;
  /* border: 1px dotted red; */
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
}

a {
  font-size: 24px;
  line-height: 1;
  transition: transform 0.05s ease-in-out;
}

a:hover {
  color: burlywood;
}

a:active {
  transform: scale(0.9);
}

.linksContainer {
  display: flex;
  /* border: 1px dotted green; */
  align-items: center;
  flex: 1 1 0%;
}

.homeContainer {
  margin-right: auto;
}
.linksContainer {
  display: flex;
  gap: 1rem;
  font-size: 18px;
}

.link {
  padding: 0 1rem;
}

/* Dashboard */
.dashboardNavbar {
  width: 14rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 50;
  padding: 0;
}

.dashboardLinks {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1.25rem;
}

.widgetSettings {
  order: 2;
}
